body {
  background: url(coffee-apple.jpg) no-repeat center fixed;
  background-color: transparent;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-size: cover;
}